:root {
    --Verde-Agua-Claro: #04D9B2;
    --Verde-Agua: #F2293D;
    --azul-claro: #A0F2CC;
    --branco: #F2F1F0;
    --verde-azul-escuro: #17A68C;
}

body {
    background-color: var(--branco);
}
.Text_1{
    color: var(--Verde-Agua-Claro);
}
.Text_2{
    color: var(--Verde-Agua-Claro);
}
.Avaliacao_Pagina{
    width: 85%;
    max-width: 400px;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}
.Tabela_Avaliacao{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Tabela_Dados{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--verde-azul-escuro);
    width: 175%;
    height: 220px;
    border-radius: 20px;
}
.Dados_Avaliacao{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-top: 10px;
}
.Dados_1 .Dados_Avaliacao input{
    width: 100%;
    height: 30px;
    width: 180px;
    background: var(--Verde-Agua-Claro);
    padding-left: 10px;
    font-size: 0.85em;
    border: 1px solid var(--verde-azul-escuro);
    color: #F2F1F0;
}
.Dados_2 .Dados_Avaliacao textarea{
    width: 100%;
    height: 70px;
    width: 375px;
    background: var(--Verde-Agua-Claro);
    padding-left: 10px;
    font-size: 1.25em;
    text-rendering: auto;
    border: 1px solid var(--verde-azul-escuro);
    color: #F2F1F0;
}

.Container_Button{
    padding-top: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Enviar{
    text-decoration: none;
    border: 2px solid var(--verde-azul-escuro);
    background: var(--verde-azul-escuro);
    color: var(--branco);
    width: 80%;
    height: 40px;
    border-radius: 10px;
    transition: 0.35s;
}
.Enviar:hover{
    background-color: var(--Verde-Agua-Claro);
    color: black;
}
.Enviar:active{
    transition: 0.001s;
    height: 40px;
    width: 60%;
}
.Dados_1{
    display: flex;
}
.Banner_imgWomen{
    padding-left: 250px;
    width: 300px;
    height: 300px;
    display: flex;
}
.Imagen_Women{
    border-radius: 500px;
}
.Text_1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}