:root {
    --Verde-Agua-Claro: #04D9B2;
    --Verde-Agua: #F2293D;
    --azul-claro: #A0F2CC;
    --branco: #F2F1F0;
    --verde-azul-escuro: #17A68C;
}
.logo_container{
    width: 300px;
    height: 250px;
    border-radius: 50%;
    background: var(--branco);
    display: flex;
    align-items: center;
}
.logo_dizai{
    width: 100%;
    height: auto;
}
.login_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right,#04D9B2,#04D976);
}

.banner_login{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.banner_login h1{
    font-size: 4.0625em;
    font-weight: 600;
    color: var(--branco);
}

.login_dados{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--azul-claro);
    width: 65%;
    height: 50%;
    border-radius: 20px;
}

.login-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-top: 32px;
}
.login-item input {
    border-radius: 10px;
    height: 40px;
    width: 350px;
    background: var(--verde-azul-escuro);
    border: 1px solid var(--preto);
    padding-left: 10px;
    font-size: 0.85em;
    color: #F2F1F0;
}
.area_login {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-botao-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
.login-botao {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid var(--verde-azul-escuro);
    background: var(--verde-azul-escuro);
    color: var(--branco);
    height: 40px;
    border-radius: 10px;
    transition: 0.35s;
}
.login-botao:hover{
    background-color: var(--Verde-Agua-Claro);
    color: black;
}
.login-botao:active{
    transition: 0.001s;
    height: 40px;
    width: 40%;
}
.n-tem-cadastro {
    text-align: start;
    font-size: 0.85em;
}

.cadastro-link {
    margin-left: 5px;
    text-decoration: none;
    color: var(--Verde-Agua-Claro);
}
